<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/guess/scripts/guess.js"></script>
  <link rel="stylesheet" href="../static/guess/css/style.css">
  
</head>
<body>
    <h1>Guessing Game</h1>
  <form>
    <input type="text" id="textbox1" placeholder="Enter a string">
    <br>
    <input type="text" id="textbox2" placeholder="Enter another string">
    <br>
    <button type="submit" id="submitBtn">Submit</button>
  </form>
  <img src="../static/guess/images/1.png" alt="1" id="myImg">
  <p id="result"></p>
</body>
</html>