<!DOCTYPE html>
<html>

<head>
	<title>Play Custom Sound on Click</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='soundboard/css/style.css') }}">
	<script src="{{ url_for('static',filename='jquery-3.6.4.min.js') }}"></script>
	<script src="{{ url_for('static',filename='soundboard/scripts/script.js') }}" defer></script>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
	</style>
</head>

<body>
	<div class="container">
		<div class="title">
			<h1>Grade 5Furry's Super Soundboard</h1>
		</div>
		<ul>
			<li>
				<div class="title">Please select which picture to update here:
				</div>
				<form id="image_upload_form" class="settings-menu" method="POST" enctype="multipart/form-data">
					{{form.hidden_tag()}}
					{{form.file()}}
					{{ form.image_submit }}

					<label><input type="radio" name="radio_form" value="0" checked><span>Pic 1</span></label>
					<label><input type="radio" name="radio_form" value="1"><span>Pic 2</span></label>
					<label><input type="radio" name="radio_form" value="2"><span>Pic 3</span></label>
					<label><input type="radio" name="radio_form" value="3"><span>Pic 4</span></label>
					<label><input type="radio" name="radio_form" value="4"><span>Pic 5</span></label>

				</form>
			</li>
		</ul>
		<ul>
			<li>
				<div class="circle" id="circle1">

					{% if filename and radio_id == ['0'] %}
					<img src="{{ url_for('static', filename='soundboard/images/'+filename) }}" alt="image" width="100%"
						height="100%">

					{% elif request.cookies.get("radio_id['0']") %}

					<img src="{{ url_for('static', filename='soundboard/images/'+image_cookie_1) }}" alt="image"
						width="100%" height="100%">

					{% else %}
					<img src="{{ url_for('static', filename='soundboard/images/bigbird.png')}}">
					{% endif %}
				</div>
			</li>
			<li>
				<div class="circle" id="circle2">
					{% if filename and radio_id == ['1'] %}
					<img src="{{ url_for('static', filename='../static/soundboard/images/'+filename) }}" alt="image"
						width="100%" height="100%">

					{% elif request.cookies.get("radio_id['1']") %}
					<img src="{{ url_for('static', filename='../static/soundboard/images/'+image_cookie_2) }}"
						alt="image" width="100%" height="100%">
					{% else %}
					<img src="{{ url_for('static', filename='soundboard/images/cookiemonsta.png')}}"
						alt="Cookie Monsta">
					{% endif %}
				</div>
			</li>
			<li>
				<div class="circle" id="circle3">
					{% if filename and radio_id == ['2'] %}
					<img src="{{ url_for('static', filename='../static/soundboard/images/' + filename) }}" alt="image"
						width="100%" height="100%">

					{% elif request.cookies.get("radio_id['2']") %}
					<img src="{{ url_for('static', filename='../static/soundboard/images/'+image_cookie_3) }}"
						alt="image" width="100%" height="100%">


					{% else %}
					<img src="{{ url_for('static', filename='soundboard/images/ernie.png')}}" alt="Ernie">
					{% endif %}
				</div>
			</li>
			<li>
				<div class="circle" id="circle4">
					{% if filename and radio_id == ['3'] %}
					<img src="{{ url_for('static', filename='../static/soundboard/images/'+filename) }}" alt="image"
						width="100%" height="100%">
					{% elif request.cookies.get("radio_id['3']") %}
					<img src="{{ url_for('static', filename='../static/soundboard/images/'+image_cookie_4) }}"
						alt="image" width="100%" height="100%">

					{% else %}
					<img src="{{ url_for('static', filename='soundboard/images/elmo.png')}}" alt="Elmo">
					{% endif %}
				</div>
			</li>
			<li>
				<div class="circle" id="circle5">
					{% if filename and radio_id == ['4'] %}
					<img src="{{ url_for('static', filename='soundboard/images/'+filename) }}" alt="image" width="100%"
						height="100%">
					{% elif request.cookies.get("radio_id['4']") %}
					<img src="{{ url_for('static', filename='soundboard/images/'+image_cookie_5) }}" alt="image"
						width="100%" height="100%">
					{% else %}
					<img src="{{ url_for('static', filename='../static/soundboard/images/oscar.png')}}" alt="Oscar">
					{% endif %}
				</div>
			</li>
		</ul>
	</div>
	<button id="settings-button">Settings</button>
	<audio id="audio1" src="{{ url_for('static', filename='../static/soundboard/sounds/bonus.mp3')}}"></audio>
	<audio id="audio2" src="{{ url_for('static', filename='../static/soundboard/sounds/ding.mp3')}}"></audio>
	<audio id="audio3" src="{{ url_for('static', filename='../static/soundboard/sounds/peacock.mp3')}}"></audio>
	<audio id="audio4" src="{{ url_for('static', filename='../static/soundboard/sounds/punch.mp3')}}"></audio>
	<audio id="audio5" src="{{ url_for('static', filename='../static/soundboard/sounds/store.mp3')}}"></audio>
</body>

</html>