body {
	background-image: url("https://media.istockphoto.com/id/1143502085/vector/garland-with-light-bulbs-hanging-on-a-wooden-wall.jpg?s=170667a&w=0&k=20&c=q-H9bNJHk4dwZG_E2-J67hLIo-sU9A1oeVO83aAPpdI=");
	background-size: cover;
	background-color: #f5b44c;
	height: 100%;
	overflow: hidden;
	
}


.container {
	border: red solid 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100vw;
	height: 100vh;
}


img {
	object-fit:fill;
	width: 100%;
	cursor: pointer;
}

img:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: transform 0.5s ease;
}

ul {
	list-style-type: none;

}

li {
	cursor: pointer;
	margin: 10px;
	
}




.circle:hover {
background-color: #999;
}

settings-menu{
	position: absolute;
	color: #dea9a9;
}

#settings-button {
position: absolute;
bottom: 0;
left: 0;
}

#file{
	background-image: none;
	box-shadow: none;
	height: auto;
	}



input, #image_submit{
background-image: none;
box-shadow: none;
color: black;

}

span {
	font-family: 'Acme', sans-serif;
	font-size: 1.5em;
}



.circle_container{
	display: flex;
	flex-wrap: wrap;
		flex-flow:row;
		position: absolute;
	bottom: 25%;
	transform: translateY(-20%);
	transition: transform 0.5s ease;
	}


	.circle_container2{
		display: flex;
		flex-wrap: wrap;
			flex-flow:row;
			position: absolute;
		bottom: 10%;
		transform: translateY(20%);
	transition: transform 0.5s ease;
	}

.circle {

	border: #000 solid 2px;
	object-fit:cover;
	overflow: hidden;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #ccc;
	cursor: pointer;

}


form {
	display: flex;
	justify-content: center;
	flex-flow: row;
	flex-wrap: wrap;
	padding: 0 1.5em;
	width: 100%;
}

#image_upload_status{
display: flex;
	justify-content: center;
	flex-flow: row;
	padding: 0 1.5em;
	width: 100%;
}



label {
	
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
label:first-child input {
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: 0.1em 0 0 #2726267f inset, -0.1em 0 0 #27262600 inset,
		0 0.1em 0 #afa490 inset, 0 -0.1em 0 #ffffff3f, 0 0.2em 0.5em #0000007f,
		0 -0.1em 0 #926086 inset, -0.1em -0.2em 0 #ffffff7f inset,
		0.2em 0 0 #ffffff7f inset;
}
label:last-child input {
	border-radius: 0 0.5em 0.5em 0;
	box-shadow: 0 -0.1em 0 #926086 inset, 0.1em 0 0 #2726267f inset,
		-0.1em 0 0 #2726267f inset, 0 0.1em 0 #afa490 inset, -0.1em 0 0 #afa490 inset,
		0 -0.1em 0 #ffffff3f, 0 0.2em 0.5em #0000007f,
		-0.1em -0.1em 0 0.1em #ffffff7f inset;
}
label:first-child input:checked {
	box-shadow: 0.1em 0 0 #272626af inset, -0.1em 0 0 #272626 inset,
		0 0.1em 0 #847a62 inset, 0 -0.1em 0 #ffffff3f, 0 0.1em 0 #ffffff7f,
		0 -0.1em 0 #722257 inset, -0.1em -0.2em 0 #ffffff7f inset,
		0.2em 0 0 #ffffff7f inset;
}
label:last-child input:checked {
	box-shadow: 0.1em 0 0 #272626af inset, -0.1em 0 0 #272626 inset,
		0 -0.1em 0 #722257 inset, 0 0.1em 0 #847a62 inset, -0.1em 0 0 #847a62 inset,
		0 -0.1em 0 #ffffff3f, 0 0.1em 0 #ffffff7f,
		-0.1em -0.1em 0 0.1em #ffffff7f inset;
}
input {
	background-image: linear-gradient(
		#ffffff 33%,
		#414751 58%,
		#837b52,
		#c5baa1,
		#c3adaa
	);
	border-radius: 0;
	box-shadow: 0.1em 0 0 #2726267f inset, -0.1em 0 0 #27262600 inset,
		0 0.1em 0 #afa490 inset, 0 -0.1em 0 #ffffff3f, 0 0.2em 0.5em #0000007f,
		0 -0.1em 0 #926086 inset, -0.1em -0.2em 0 #ffffff7f inset;
	cursor: pointer;

	margin-bottom: 0.5em;

	transition: box-shadow var(--transDur) ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input:checked {
	background-image: linear-gradient(
		#ffffff 33%,
		#414751 58%,
		#827a7b,
		#c0b6ac,
		#c3adaa
	);
	box-shadow: 0.1em 0 0 #272626af inset, -0.1em 0 0 #272626 inset,
		0 0.1em 0 #847a62 inset, 0 -0.1em 0 #ffffff3f, 0 0.1em 0 #ffffff7f,
		0 -0.1em 0 #722257 inset, -0.1em -0.2em 0 #ffffff7f inset;
}
input:checked + span {
	opacity: 1;
}
input:focus {
	outline: transparent;
}
input + span {
	opacity: 0.65;
	transition: opacity var(--transDur) ease-in-out;
}

input[type="radio" i]{
display: flex;
	flex: 3 0px;
	width: 100px;
height: 1em;
margin: 30px 0px 0px 0px;
}


@font-face {
	font-family: "Rocher";
	src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  

  .title {
	position: absolute;
	font-family: "Rocher";
	font-size: 50px;
	display: flex;
	color: #FFFFFF;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	top: 20%;
	font-weight: bold;
	margin: 10px;
	transform: translateY(20%);
	transition: transform 0.5s ease;
  }

  .title2 {
	position: absolute;
	font-family: "Rocher";
	text-align: center;
	font-size: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	top: 10%;
	margin: 10px;
	transform: translateY(-20%);
	transition: transform 0.5s ease;
  }
  
  
  @font-palette-values --Mint {
	font-family: Rocher;
	base-palette: 7;
  }

  .mint {
	font-palette: --Mint;
  }
  
/* Style of picture/sound selector */
#word-container {
	width: auto;
	height: auto;
	flex-flow: row wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  }

  #word {
	white-space: nowrap;
	transition: transform 0.5s ease;
  }

  .triangle {
	cursor: pointer;
  }
